header {
    background-color: #fff;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 20px;
    height: 70px;
    width: 100%;
    border-bottom: solid 1px #CCCCCC;
}
