.filters {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.filters button {
    background-color: #FF5A5F;
    color: #fff;
    font-size: 18px;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}

.filters button:hover {
    opacity: 90%;
}
